.tabpage-panel-title {
    opacity: 0;
    font-size: 0;
}

.tabpage-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-middle);
}

.tabpage-nav-item {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--gap-extra-small) var(--gap-middle);
    font-size: var(--font-size-base);
    color: var(--text-primary);
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: var(--border-radius-middle);
    min-height: var(--height-top-nav);
    min-width: calc(var(--font-size-base) * 8);
    transition: color 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease;
    gap: var(--gap-extra-small);
}

.tabpage-nav-item:hover {
    background-color: var(--color-general-glass);
}

.tabpage-nav-item:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px var(--color-general-dark);
}

.tabpage-nav-item[aria-selected="true"] {
    background-color: var(--color-main);
    color: var(--input-bgcolor);
}

.tabpage-nav-icon {
    width: var(--icon-size-middle);
    height: var(--icon-size-middle);
    fill: var(--text-primary);
    transition: fill 0.15s ease;
    position: relative;
    left: -2px;
}

.tabpage-nav-item[aria-selected="true"] .tabpage-nav-icon {
    fill: var(--input-bgcolor);
}

.tabpage-nav-label {
    position: relative;
    top: -1px;
}

@media screen and (max-width: 760px) {
    .tabpage-nav-item {
        min-width: unset;
    }
}


.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-middle);
    padding: var(--gap-large) 0;
    height: var(--height-page-container);
}


.mcl-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--gap-extra-small) var(--gap-middle);
    font-size: var(--font-size-base);
    color: var(--input-bgcolor);
    cursor: pointer;
    border: none;
    background-color: var(--color-general);
    border-radius: var(--border-radius-middle);
    min-height: var(--height-component);
    transition: color 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease, filter 0.15s ease;
}

.mcl-button:hover {
    filter: brightness(1.05);
}

.mcl-button:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px var(--color-general-dark);
}

.mcl-button:active {
    filter: brightness(0.95);
}

.mcl-button[disabled] {
    cursor: not-allowed;
    opacity: 0.75;
}